*{
    margin:0;
    padding:0;
}
body{
    min-width: 1300px;
}
 
/***************** 导航栏 *****************/
header{
    min-width:900px;
    position: relative;
    box-sizing: border-box;
    padding:0px 50px;
    width:100%;
    height:50px;
    position: fixed;
    top:0px;
    background-color: white;
    z-index: 10000;
}
.wl_logo{
    width:100px;
    height:50px;
    float: left;
    position: absolute;
    left:40px;
}
.nav{
    position: absolute;
    left:220px;
    width:600px;
    float: left;
}
.nav::after{
    display: block;
    content:'';
    clear: both;
}
.nav>li{
    display: block;
    height:50px;
    list-style: none;
    float: left;
    margin:0px 30px;
    line-height: 50px;
    cursor: pointer;
    font-size:12px;
   
}
.nav>li>a{
    display: block;
}
.nav>li:hover{
    border-bottom: 2px solid black;
    height:48px;
     
}
#es8,#es6,#ec6{
    width:37px;
}

#es8{
    background: url(../images/header/es8-logo.svg) no-repeat;
    background-position:0px 20px ;
}
#es8>a{
    display: block;
    width:100%;
    height:100%;
}
#es6{
    background: url(../images/header/es6-logo.svg) no-repeat;
    background-position:0px 20px ;
}
#ec6{
    background: url(../images/header/ec6-logo.svg) no-repeat;
    background-position:0px 20px ;
}

/* 试驾 */
.sj{
    margin:10px 0px 0px 100px;
    position: absolute;
    right:20px;
    border:1px solid black;
    width:150px;
    height:30px;
    cursor: pointer;
}
.sj>a{
    text-decoration: none;
    color:black;
    display: block;
    width:100%;
    height:100%;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    transition: all 1s ease 0s;
}
.sj:hover{
    background-color: black;
    color:white;
}
.sj:hover .sja{
    color: white;
}

/****************** 主体 ***********/
section{
    width:100%;
    height:800px;
}
section::after{
    display: block;
    content: "";
    clear: both;
}
.bg_img{
    position: relative;
    width:100%;
}
.bg_img::after{
    content:'';
    clear: both;
    display: block;
    
}
.bg_img>img{
    width:100%;
    position: absolute;
    top:-100px;
     
}
 /* 给es8背景初始为1 */
.bg_es8{
    opacity: 1;
}


/* 试驾信息框 和评论框 */
.test{
  
  
    width:100%;
    height:720px;
    box-sizing: border-box;
    padding:100px 90px  30px ;
    position: relative;

}
.form_section{
    position: absolute;
    width:450px;
    height:540px;
    border:0px solid white;
}


/* 左侧登记表 */
.form_header{
    box-sizing: border-box;
    padding: 30px;
    width:100%;
    height:150px;
    background:rgba(84, 88, 90, 0.3); ;
}
.form_header_title{
    color: #54585a;
    font-size: 24px;
    font-weight: 300;
}
.form_header_cars{
    color: #dadcde;
    font-weight: 100;
    font-size: 12px;
    margin:15px 0px 25px;
}
.form_header_car>li{
    list-style: none;
    float: left;
    margin:0px 40px 0px 0px;
    display: block;
    width:60px;
    height:20px;
    cursor: pointer;
}
.form_header_car>li>img{
    width:100%;
}

/* 表格主体 */
.test_val{
    width:100%;
    height:388px;
    box-sizing: border-box;
    padding: 0px 20px;
    background: white;
    position: relative;
}


.form_item{
    line-height: 70px;
    width:390px;
    height:70px;
    display: block;
    border-bottom: 1px solid #f0f1f2;
    margin: 10px 0px ;
}
.form_item>input{
    margin-left:20px;
    width:80%;
    height:40px;
}

.form_sheng{
    width:50%;
    float:left;
}




 

/* 省份  */
.form_sheng>label{
    display: block;
    float:left;

}
.select_sheng{
    margin-left:10px;
    float:left;
}
/* 城市 */
.form_city>label{
    display:block;
    float:left;
}
.select_cheng{
    margin-left:5px;
    float:left;
}

#shengfen{
    border: 1px solid transparent;
    font-size: 12px;
     
}
#chengshi{
    border: 1px solid transparent;
    font-size: 12px;
}

/* 提交按钮 */
.btnVal{
    position: absolute;
    top:280px;
    left:90px;
    width:250px;
    height:40px;
    background:#00bebe;
    text-align: center;
    line-height:40px;
    color:white;
    cursor: pointer;
     
}
/* 消息弹窗 */
.form_msg{
    border-radius: 12px;;
    position: absolute;
    top:60px;
    left:50px;
    width:350px;
    height:60px;
    background:rgba(65, 66, 66, 0.8);
    text-align: center;
    line-height: 60px;
    color:white;
    opacity: 0;
}






/* 评论区 */
.show_pinglun{
    position: absolute;
    color:white;
    left:540px;
    top:100px;
    width:800px;
    text-align: center;
}
.title_h1{
     font-size:45px;
     margin-bottom: 10px;
     font-weight: 300;
}
.es8_title {
    position: absolute;
    left:300px;
    text-align: center;
     
}
.es6_title{
    position: absolute;
    left:250px;
    text-align: center;
    opacity:0
   
}
.title_p{
    color:#00bebe;
}












/* footer */
footer{
    margin:100px 0px;
}
footer::after{
    display: block;
    content:"";
    clear: both;
}
.footer_ul>li{
    list-style-type: none;
    float: left;
    margin:0px 20px
}